<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Blog</title>

    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body class="bg-dark d-flex flex-column h-100">
    <header>
        <%- include('stuff/nav'); %>
    </header>

    <main role="main" class="container">
        <% if (locals.error) { %>
        <div class="row pt-3">
            <div class="col-md-4 offset-4">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <% } %>
        <% if (locals.success) { %>
            <div class="row pt-3">
                <div class="col-md-4 offset-4">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= success %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <% } %>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center text-white">
                <form method="post" action="/make-post" class="row mt-3">
                    <div class="col-12">
                        <input type="text" id="inputTitle" name="title" class="form-control mb-3" placeholder="Title" required>
                    </div>
                    
                    <div class="col-6">
                        <input type="text" id="inputAuthor" name="author" class="form-control mb-3" placeholder="Author" value="<%= name %>" required>
                    </div>

                    <div class="col-6">
                        <input type="text" id="inputDate" name="date" class="form-control mb-3" placeholder="Date" value="" required>
                    </div>

                    <div class="col-12">
                        <input type="text" id="inputImg" name="img" class="form-control mb-3" placeholder="Image url">
                    </div>

                    <div class="col-12">
                        <div class="form-floating text-dark">
                            <textarea class="form-control mb-3" placeholder="Content" id="inputContent" name="content" style="height: 100px" required></textarea>
                            <label for="inputContent">Content</label>
                        </div>
                        
                    </div>

                    
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-3" type="submit">Submit</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </main>
    <footer class="footer mt-auto bg-primary text-white text-center text-lg-start">
        <%- include('stuff/fotter'); %>
    </footer>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

    <script>
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        today = dd + '/' + mm + '/' + yyyy;
        
        document.getElementById("inputDate").value = today;
        </script>
</body>
</html>